@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


.section__container {
  max-width: 1200px;
  margin: 30px 0 0 40px;
  padding: 5rem 1rem;
}

.section__subheader {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffa03f;
  text-align: left;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 600;
  color: #020617;
  line-height: 3.25rem;
  text-align: left;
}
.about_details{
  text-align: left;
}
.section__header span {
  color: #ffa03f;
}

.section__description {
  color: #1e293b;
  line-height: 1.75rem;
}

.about_img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

html,
body {
  scroll-behavior: smooth;
}

.choose__container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.choose__image img {
  max-width: 475px;
  margin-inline: auto;
  border-radius: 2rem;
  box-shadow: 30px -30px 0px rgba(0, 0, 0, 0.1);
}

.choose__list {
  margin-top: 4rem;
  display: grid;
  gap: 3rem;
}

.choose__list li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.choose__list li span {
  display: inline-block;
  padding: 6px 14px;
  font-size: 2rem;
  color: #ffa03f;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.choose__list li h4 {
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #020617;
}

.choose__list li p {
  color: #1e293b;
}


@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (width > 768px) {
  .choose__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}